body {
    background-color: #3936df;
    font: normal 15pt Arial;
}
header {
    color: #ffffff;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.377) 5px 5px 5px;
}
footer {
    color: #ffffff;
    text-align: center;
    font-style: italic;
}
div {
    text-align: center;
    padding: 8px;
}
img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}
